<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <title>Smarty</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Smarty</h1>
    </header>

    <main>
      <section>
        <header>
          <h2>Upload an image without performing image analysis</h2>
        </header>
        <form id="img-upload" name="imgupload" action="/img" method="POST" enctype="multipart/form-data" onsubmit="uploadImage(event, this)">
          <input type="file" placeholder="imgfile" name="imgfile">
          <button type="button" onclick="loadImages()">Reload Images</button>
          <button type="submit">Submit</button>
        </form>
        <div id="images-container" class="flex-container"></div>
      </section>

      <section>
        <header>
          <h2>Compare image tag/label analysis between Azure, Google and AWS</h2>
        </header>
        <form id="img-upload-compare" name="imguploadcompare" action="/compare" method="POST" enctype="multipart/form-data" onsubmit="getImgAnalysis(event, this)">
          <input type="file" placeholder="imgfile" name="imgfile">
          <button type="submit">Submit</button>
        </form>

        <div class="tag-table">
          <div class="tag-table-column">
            <h3>Azure</h3>
            <ul id="azure_tags"></ul>
          </div>
          <div class="tag-table-column">
            <h3>Google</h3>
            <ul id="google_labels"></ul>
          </div>
          <div class="tag-table-column">
            <h3>AWS</h3>
            <ul id="aws_labels"></ul>
          </div>
          <div class="tag-table-column">
            <h3>Clarifai</h3>
            <ul id="clarifai_concepts"></ul>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
